<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加成功</title>
    <link rel="stylesheet" href="../../static/pkg/bootstrap-4.6.2-dist/css/bootstrap.min.css">
    <script src="../../static/pkg/jquery -3.6.1/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="../../static/css/common/common.css">
</head>
<body>
    <div class="container">
        <div class="card" style="width: 18rem; margin: 10vh auto">
            <img src="../../static/images/R-C.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="margin: auto auto;">

                <h3>添加成员成功</h3>
                <a href="./index.php">返回管理员页</a>
            </div>
       </div>
    </div>
    
    <script src="../../static/pkg/bootstrap-4.6.2-dist/js/bootstrap.min.js"></script>
</body>
</html>